/* .row {
  border: 1px solid red;
}
.col {
  border: 1px solid black;
} */
body {
  /* border: 1px solid black; */
  font-family: 'Tilt Neon', cursive;
}
.navbar {
  padding-left: 20px;
  background: rgb(227, 227, 227);
  background: linear-gradient(274deg, rgba(227, 227, 227, 1) 0%, rgba(235, 235, 235, 1) 42%, rgba(183, 227, 241, 1) 100%);
}
p {
  font-size: 18px;
}
select {
    border: 0;
    background-color: white;
    outline: none;
    text-align: center;
}
select:hover, input:hover{
  cursor: pointer;
}
button i {
  margin-left: 8px;
}
.balance {
  margin-top: 1.8%;
  margin-bottom: 1.8%;
}
#balance-ptag {
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  border-radius: 10px;
  color: white;
  display: inline;
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
}
form p {
  text-align: center;
  background-color: #BAD7E9;
  width: 50%;
  margin: auto;
  margin-top: 3%;
  padding: 2%;
  border-radius: 10px;
}
form .row {
      width: 99%;
        margin: auto;
}
form div {
  margin-bottom: 2%;
}
.hide-form {
  transform: translateX(500px);
}
#data-chart > p {
  margin-bottom: 2%;
}
#toggle, #data-chart{
    transition-duration: 0.8s;
}
.middle {
  transform: translateX(14%);
}
#toggle-btn {
  background-color: #144272;
  color: white;
  border: 0;
  border-radius: 10px;
  padding: 0.5%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin-right: 2%;
}
#toggle-btn:hover{
  background-color: #0A2647;
}
.category-text {
  padding: 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 0;
}
.buttons button {
  width: 47%;
}
#btn-cash {
  background-color: #609966;
  border: 0;
}
#btn-expense {
  background-color: #ae0000;
  border: 0;
}
thead {
  background-color: #ececec;
}
table {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
table button {
  border: none;
  background-color: white;
  margin-right: 5%;
}
table button:first-child:hover{
  color: #ae0000;
}
table button:nth-child(2):hover{
  color: #ffb803;
}
.positive-balance-bgcolor {
  background-color: #609966;
}
.negative-balance-bgcolor {
  background-color: #ae0000;
}

#category {
  margin-bottom: 2%;
}
#category div {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  border-radius: 10px;
  width: 15%;
  margin: auto;
}
.food {
  background-color: #C7E8CA;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.utilities {
  background-color: #F6E1C3;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.rent {
  background-color: #ECF2FF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.debt {
  background-color: #E3DFFD;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.gifts {
  background-color: #93BFCF;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.entertainment {
  background-color: #EAC7C7;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.income-color {
  background-color: #ddf1df;
}
.expense-color {
  background-color: rgb(250, 221, 221);
}
#filter-btn {
  border: none;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: 1%;
}