/* .row {
  border: 1px solid red;
}
.col {
  border: 1px solid black;
} */
body {
  /* border: 1px solid black; */
  font-family: 'Tilt Neon', cursive;
}
.navbar {
  padding-left: 20px;
  background: rgb(227, 227, 227);
  background: linear-gradient(274deg, rgba(227, 227, 227, 1) 0%, rgba(235, 235, 235, 1) 42%, rgba(183, 227, 241, 1) 100%);
}
p {
  font-size: 18px;
}
.balance {
  margin-top: 1.8%;
  margin-bottom: 1.8%;
}
.balance > p{
  background-color: #609966;
  color: white;
  display: inline;
  padding: 1%;
}
form p {
  text-align: center;
}
form .row {
      width: 99%;
        margin: auto;
}
form div {
  margin-bottom: 2%;
}
.category-text {
  padding: 0;
}
.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 0;
}
.buttons button {
  width: 47%;
}
#btn-cash {
  background-color: #609966;
  border: 0;
}
#btn-expense {
  background-color: #ae0000;
  border: 0;
}
#category {
  margin-bottom: 1%;
}
#category div {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  border-radius: 10px;
  width: 15%;
  margin: auto;
}
.food {
  background-color: #C7E8CA;
}
.utilities {
  background-color: #F6E1C3;
}
.rent {
  background-color: #ECF2FF;
}
.debt {
  background-color: #E3DFFD;
}
.gifts {
  background-color: #93BFCF;
}
.entertainment {
  background-color: #EAC7C7;
}